<div class="recipe">
  <div class="twelve columns">
    <a href="{{ '/' | relative_url }}" id="close" class="u-pull-right no-print">
      <i class="fa fa-bars"></i>
    </a>
    <h1>{{ page.title }}</h1>
    <h5>
      &nbsp;
      {% if page.portions != nil %}
        <span><i class="fa fa-cutlery" aria-hidden="true"></i>{{ page.portions }}</span>
      {% endif %}
      {% if page.author != nil %}
        <span><i class="fa fa-user" aria-hidden="true"></i>{{ page.author | markdownify }}</span>
      {% endif %}
    </h5>
  </div>
  <hr class="twelve columns"/>
  <div class="row">
    <div class="four columns">

      <ul class="ingredients">
      {% for item in page.ingredients %}
        {% capture is-heading %}{{ item | slice: 0 }}{% endcapture  %}

        {% if is-heading == ":" %}

          {% if forloop.first != true %}
          </ul>
          <ul class="ingredients">
          {% endif %}

          <li class="heading"><h6>{{ item | slice: 1,999 | capitalize }}</h6></li>

        {% else %}
          <li>{{ item | capitalize }}</li>
        {% endif %}

      {% endfor %}
      </ul>
    </div>
    <div class="eight columns">
      <div id="recipe-body">
        {{ page.content }}
      </div>
    </div>
    <footer class="twelve columns">
      <p><a href="https://github.com/grapefrukt/recipes/edit/main/{{page.path}}" alt="Redigera detta recept"><i class="fa fa-edit"></i></a></p>
    </footer>
  </div>
</div>
